{
    "presets": [
        ["@babel/preset-env",
          {
            "targets": {
            },
            "useBuiltIns": "usage",
            "debug": false,
            "corejs": 3,
            "modules": false
        }]
      ],
      "plugins": ["@babel/transform-runtime","@babel/plugin-proposal-class-properties"]
}